name: Pentaho merge workflow
on:
  workflow_call:
    inputs:
      modules_to_build:
        type: string
        required: false
        description: >
          The modules to build when running from the root of the project. Defaults to everything ('.').
          Using this option builds only the modules you specify, regardless of whether those modules have changes.
      version:
        type: string
        required: true
        description: "Version to be built"
      base_version:
        type: string
        required: true
        description: "Base version to be taken in consideration for dependencies"
      slack_channels:
        type: string
        required: true
        description: "Slack channel(s) to send notifications to."
      arti_host:
        required: false
        type: string
        default: https://one.hitachivantara.com
        description: "Artifactory's Host name"
      sonar_project_key:
        required: true
        type: string
        description: "Sonar's project identifier key"
      sonar_url:
        required: false
        type: string
        description: "Sonar's URL"
        default: https://sonar.orl.eng.hitachivantara.com
      blackduck_project_key:
        required: false
        type: string
        description: "Project key for Blackduck"
        default: "Pentaho"  # it's either "Pentaho" or "Pentaho SHIMS" on Orion
      blackduck_server_url:
        required: false
        type: string
        description: "Server URL for Blackduck"
        default: https://orion.orl.eng.hitachivantara.com
      blackduck_additional_args:
        required: false
        type: string
        description: "Extra additional args for blackduck scan"
        default: ""
      additional_mvn_directives:
        required: false
        type: string
        description: "Extra additional directives for the Maven command"
        default: ""
      run_snapshot:
        required: true
        type: boolean
        default: true
        description: 'should the snapshot build run'
      run_versioning:
        required: true
        type: boolean
        default: true
        description: 'should the versioning run on the RC build'
      run_release_candidate:
        required: true
        type: boolean
        default: false
        description: 'should the RC build'

env:
  VERSION: "${{ inputs.version }}"
  BASE_VERSION: "${{ inputs.base_version }}"
  SLACK_CHANNEL: "${{ inputs.slack_channels }}"
  BUILD_NAME: "${{ github.event.repository.name }}-$VERSION"

  SONAR_PROJECT_KEY: ${{ inputs.sonar_project_key }}
  SONAR_HOST_URL: ${{ inputs.sonar_url }}
  SONAR_LOGIN: ${{secrets.WINGMAN_SONAR_TOKEN}}

  ARTIFACTORY_HOST: ${{ inputs.arti_host }}
  ARTIFACTORY_BASE_URL: ${ARTIFACTORY_HOST}/artifactory

  RESOLVE_REPO_MIRROR: ${ARTIFACTORY_BASE_URL}/maven

  NEXUS_DEPLOY_USER: ${{ secrets.PENTAHO_CICD_ONE_USER }}
  NEXUS_DEPLOY_PASSWORD: ${{ secrets.PENTAHO_CICD_ONE_KEY }}

  PUBLIC_RELEASE_REPO: pntpub-maven-dev
  PUBLIC_RELEASE_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PUBLIC_RELEASE_REPO}
  PRIVATE_RELEASE_REPO: pntprv-maven-dev
  PRIVATE_RELEASE_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PRIVATE_RELEASE_REPO}

  PUBLIC_SNAPSHOT_REPO: pntpub-maven-snapshot
  PUBLIC_SNAPSHOT_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PUBLIC_SNAPSHOT_REPO}
  PRIVATE_SNAPSHOT_REPO: pntprv-maven-snapshot
  PRIVATE_SNAPSHOT_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PRIVATE_SNAPSHOT_REPO}

  DOCKER_PULL_HOST: one.hitachivantara.com/docker/
  DOCKER_PUBLIC_PUSH_HOST: one.hitachivantara.com/pntpub-docker-dev/
  DOCKER_PRIVATE_PUSH_HOST: one.hitachivantara.com/pntprv-docker-dev/

jobs:

  setup-maven-settings:
    name: Setup Maven settings

    runs-on: [ k8s ]

    container:
      image: one.hitachivantara.com/devops-docker-release/pentaho/actions-common:20240305.137
      credentials:
        username: ${{ secrets.PENTAHO_CICD_ONE_USER }}
        password: ${{ secrets.PENTAHO_CICD_ONE_KEY }}
      volumes:
        - /home/runner/caches/pentaho/.m2:/root/.m2

    steps:

      - name: Retrieve settings file
        id: common-maven
        uses: pentaho/actions-common@stable

      - name: Copy settings.xml to .m2 directory
        shell: sh
        run: |
          cp "${{ steps.common-maven.outputs.settings-file-path }}" /root/.m2

  snapshot:
    if: ${{ inputs.run_snapshot == true }}
    name: Update Snapshots
    needs: setup-maven-settings

    runs-on: [ k8s ]

    container:
      image: one.hitachivantara.com/devops-docker-release/pentaho/actions-common:20240305.137
      credentials:
        username: ${{ secrets.PENTAHO_CICD_ONE_USER }}
        password: ${{ secrets.PENTAHO_CICD_ONE_KEY }}
      volumes:
        - /home/runner/caches/pentaho/.m2:/root/.m2
    steps:

      - run: |
          echo ${{ needs.setup-maven-settings.env }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine which changes occurred
        if: ${{ inputs.modules_to_build == '' }}
        id: change_detection
        uses: hv-actions/change-detection-builder@stable

      - name: Build code and deploy artifacts
        uses: lumada-common-services/gh-composite-actions@stable
        with:
          command: |
            mvn clean deploy -amd \
            -pl "${{ inputs.modules_to_build || steps.change_detection.outputs.changed_modules }}"
        env:
          cmd_type: BUILD,UNIT_TEST
          unit_test_reporter: 'java-junit'
          unit_test_fail_on_error: 'true'
          unit_test_report_path: '**/target/surefire-reports/*.xml'

      - name: Sonarqube scan
        continue-on-error: true
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          sonar_utility: sonar-scanner
          sonar_commands: '("-Dsonar.working.directory=/tmp/.scannerwork -Dsonar.projectKey=${{env.SONAR_PROJECT_KEY}} -Dsonar.host.url=${{env.SONAR_HOST_URL}} -Dsonar.login=${{env.SONAR_LOGIN}}")'

      - name: Report notifications
        if: always()
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          Slack_Token: ${{ secrets.SLACK_TOKEN }}
          Slack_Channel: ${{ env.SLACK_CHANNEL }}
          report: true

  release-candidate:
    if: ${{ inputs.run_release_candidate == true }}
    name: Build Release Candidate
    needs: setup-maven-settings

    runs-on: [ k8s ]

    env:
      JFROG_CLI_BUILD_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

    container:
      image: one.hitachivantara.com/devops-docker-release/pentaho/actions-common:20240305.137
      credentials:
        username: ${{ secrets.PENTAHO_CICD_ONE_USER }}
        password: ${{ secrets.PENTAHO_CICD_ONE_KEY }}
      volumes:
        - /home/runner/caches/pentaho/.m2:/root/.m2
    steps:

      - id: initial-setup
        shell: bash
        run: |
          checkout_depth=0
          build_name=${{ env.BUILD_NAME }}
          build_number="${{ github.run_number }}"

          if [[ "${{ inputs.modules_to_build }}" != "" ]]; then
            checkout_depth=1
          fi
          
          echo "build_name=$build_name" >> $GITHUB_OUTPUT
          echo "build_number=$build_number" >> $GITHUB_OUTPUT
          echo "checkout_depth=$checkout_depth" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.HV_ACTIONS_GIT_TOKEN }}
          fetch-depth: ${{ steps.initial-setup.outputs.checkout_depth }}

      - run: git config --global --add safe.directory /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}

      - name: Determine which changes occurred
        if: ${{ inputs.modules_to_build == '' }}
        id: change_detection
        uses: hv-actions/change-detection-builder@stable

      - name: Determine version
        id: version
        shell: bash
        run: |
          version="${{ env.VERSION }}"
          tag="$version"
          if [[ "${{ inputs.run_versioning }}" == "true" ]]; then
            version="$version-${{ github.run_number }}"
            tag="$version"
          else
            tag="$version-R"
          fi
          
          echo "current-tag=$tag" >> $GITHUB_OUTPUT
          echo "current-version=$version" >> $GITHUB_OUTPUT

      - name: Version set
        if: ${{ inputs.run_versioning == true }}
        run: |
          sed -i 's/BASE_VERSION/${{ env.BASE_VERSION }}/g' .github/release-versions.properties
          sed -i 's/BUILD_NBR/${{ github.run_number }}/g' .github/release-versions.properties
          
          java -DRELEASE_MODE=true -jar /version-merger.jar . \
            -f .github/release-versions.properties \
            commit project.revision=${{ steps.version.outputs.current-version }} \
            project.version=${{ steps.version.outputs.current-version }} \
            version=${{ steps.version.outputs.current-version }} \
            distribution.version=${{ steps.version.outputs.current-version }} \
            project.stage=master

      - name: Build code, deploy artifacts & run unit-tests
        uses: lumada-common-services/gh-composite-actions@stable
        with:
          command: |
            mvn clean deploy -B -Daudit \
              -Pcicd-release -Drelease -Dbuild.name=${{ steps.initial-setup.outputs.build_name }} -Dbuild.number=${{ steps.initial-setup.outputs.build_number }} \
              -pl "${{ inputs.modules_to_build || steps.change_detection.outputs.changed_modules }}" \
              -amd ${{ inputs.additional_mvn_directives }}
        env:
          cmd_type: BUILD,UNIT_TEST
          unit_test_reporter: 'java-junit'
          unit_test_fail_on_error: 'true'
          unit_test_report_path: '**/target/surefire-reports/*.xml'

      - name: Sonarqube scan
        if: ${{ inputs.run_snapshot == false }}
        continue-on-error: true
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          sonar_utility: sonar-scanner
          sonar_commands: '("-Dsonar.working.directory=/tmp/.scannerwork -Dsonar.projectKey=${{env.SONAR_PROJECT_KEY}} -Dsonar.host.url=${{env.SONAR_HOST_URL}} -Dsonar.login=${{env.SONAR_LOGIN}}")'

      - name: Tag release
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          Tag_version: "${{ steps.version.outputs.current-tag }}"
          push_tag_only: true

      - name: Create artifacts download links
        shell: bash
        run: |
          echo "[Full artifacts list](${{ env.ARTIFACTORY_HOST }}/ui/builds/${{ steps.initial-setup.outputs.build_name }}/${{ steps.initial-setup.outputs.build_number }})" >> $GITHUB_STEP_SUMMARY

      - name: Report notifications
        if: always()
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          Slack_Token: ${{ secrets.SLACK_TOKEN }}
          Slack_Channel: ${{ env.SLACK_CHANNEL }}
          report: true
