name: Pentaho pull request workflow
on:
  workflow_call:
    inputs:
      slack_channels:
        type: string
        required: false
        description: "Slack channel(s) to send notifications to."
      sonar_project_key:
        type: string
        required: false
        description: "Sonar's project identifier key"
      additional_mvn_directives:
        type: string
        required: false
        default: ""
        description: "Additional directives for the Maven command"
      ms_teams_webhook_secret_name:
        type: string
        required: false
        default: ""
        description: "The MS Teams webhook secret name"
      container_image:
        type: string
        required: false
        description: "Image to be used"
      resolve_repo:
        type: string
        required: false
        description: "Custom Maven repo for dependency resolution"
      check_commit_messages:
        type: boolean
        required: false
        default: false
        description: "Check commit messages against conventional commits specification"
      modules_to_build:
        type: string
        required: false
        description: >
          The modules to build when running from the root of the project. Defaults to everything ('.').
          Using this option builds only the modules you specify, regardless of whether those modules have changes.

env:
  SONAR_PROJECT_KEY: ${{ inputs.sonar_project_key || github.event.repository.name }}
  SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
  SONAR_LOGIN: ${{secrets.WINGMAN_SONAR_TOKEN}}

  ARTIFACTORY_HOST: https://${{ vars.ARTIFACTORY_HOST }}
  ARTIFACTORY_BASE_URL: ${ARTIFACTORY_HOST}/artifactory

  RESOLVE_REPO_MIRROR: ${{ format('{0}/{1}', vars.ARTIFACTORY_BASE_URL, inputs.resolve_repo || 'pnt-mvn') }}
  NPM_REGISTRY: //${{ vars.ARTIFACTORY_HOST }}/artifactory/api/npm/npm/

  NEXUS_DEPLOY_USER: ${{ secrets.PENTAHO_CICD_ONE_USER }}
  NEXUS_DEPLOY_PASSWORD: ${{ secrets.PENTAHO_CICD_ONE_KEY }}

  PUBLIC_RELEASE_REPO_URL: ${ARTIFACTORY_BASE_URL}/pntpub-maven-dev
  PRIVATE_RELEASE_REPO: pntprv-maven-dev
  PRIVATE_RELEASE_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PRIVATE_RELEASE_REPO}

  PUBLIC_SNAPSHOT_REPO_URL: ${ARTIFACTORY_BASE_URL}/pntpub-maven-snapshot
  PRIVATE_SNAPSHOT_REPO: pntprv-maven-snapshot
  PRIVATE_SNAPSHOT_REPO_URL: ${ARTIFACTORY_BASE_URL}/${PRIVATE_SNAPSHOT_REPO}

  DOCKER_PULL_HOST: ${{ vars.ARTIFACTORY_HOST }}/pnt-docker/
  DOCKER_PUBLIC_PUSH_HOST: ${{ vars.ARTIFACTORY_HOST }}/pntpub-docker-dev/
  DOCKER_PRIVATE_PUSH_HOST: ${{ vars.ARTIFACTORY_HOST }}/pntprv-docker-dev/

  SLACK_CHANNEL: "${{ inputs.slack_channels }}"

jobs:
  check-commit-messages:
    if: ${{ inputs.check_commit_messages }}
    name: Check Commit Messages
    uses: pentaho/actions-common/.github/workflows/check.yml@stable
    secrets: inherit

    permissions:
      statuses: write
      checks: write
      contents: write
      pull-requests: write
      actions: write

  common-job:
    name: Common Checks
    runs-on: [k8s, orl-lab]

    permissions:
      statuses: write
      checks: write
      contents: write
      pull-requests: write
      actions: write

    container:
      image: ${{ inputs.container_image || vars.PDIA_AC_CONTAINER_IMAGE }}
      credentials:
        username: ${{ secrets.PENTAHO_CICD_ONE_USER }}
        password: ${{ secrets.PENTAHO_CICD_ONE_KEY }}
      volumes:
        - /home/runner/caches/pentaho/.m2:/root/.m2

    steps:
      - name: Retrieve settings file
        id: common-maven
        uses: pentaho/actions-common@stable

      - name: Copy settings.xml to .m2 directory
        shell: sh
        run: |
          cp "${{ steps.common-maven.outputs.settings-file-path }}" /root/.m2

      - name: Load Job metadata into Env vars
        shell: bash
        continue-on-error: true
        env:
          JOB_CONTEXT: ${{ toJSON(job) }}
        run: |
          process_json() {
            local prefix=$1
            local json_data=$2
            re="^[0-9]+([.][0-9]+)?$"

            echo "$json_data" | jq -r 'to_entries | .[] | "\(.key) \(.value|tostring)"' | while read -r key value; do
              # Check if the value is a JSON object or array
              is_json=$(echo $value | jq -e . >/dev/null 2>&1 ; echo ${PIPESTATUS[1]})
              if [[ ! $value =~ $re ]] && [[ $is_json == 0 ]]; then
                # If it's an object or array, and not a number, call the function recursively
                process_json "${prefix}${key}_" "$(echo "$json_data" | jq -c ."$key")"
              else
                echo "Creating \"${prefix}${key}\" env var with the value \"${value}\""
                echo "${prefix}${key}=${value}" >> $GITHUB_ENV
              fi
            done
          }
          # Start processing JSON from the root
          echo "Dealing with ${{ env.JOB_CONTEXT }}"
          process_json '' '${{ env.JOB_CONTEXT }}'

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update cmd_type as per the mvn_directives
        if: env.SET_CMD_TYPE == null
        run: |
          if [[ -n "${{ inputs.additional_mvn_directives }}" && "${{ inputs.additional_mvn_directives }}" == *"-DrunITs"* ]]; then
            echo "SET_CMD_TYPE=BUILD,UNIT_TEST,INTEGRATION_TEST" >> $GITHUB_ENV
          else
            echo "SET_CMD_TYPE=BUILD,UNIT_TEST" >> $GITHUB_ENV
          fi
        shell: bash

      - name: Determine which changes occurred
        if: ${{ inputs.modules_to_build == '' }}
        id: change_detection
        uses: hv-actions/change-detection-builder@stable

      - name: Detect npm
        id: detect-npm
        uses: pentaho/actions-common/.github/actions/detect-npm@stable

      - name: NPM authentication
        if: ${{ steps.detect-npm.outputs.has_npm == 'true' }}
        uses: pentaho/actions-common/.github/actions/npm-registry-auth@stable
        with:
          pentaho_registry: ${{ env.NPM_REGISTRY }}
          username: ${{ secrets.PENTAHO_CICD_ONE_USER }}
          password: ${{ secrets.PENTAHO_CICD_ONE_KEY }}

      - name: Build & Run tests
        id: Build_Unit_Test
        uses: lumada-common-services/gh-composite-actions@stable
        with:
          command: |
            mvn clean verify -DskipTests=false -Daudit -amd \
            -pl "${{ inputs.modules_to_build ||steps.change_detection.outputs.changed_modules }}" \
            ${{ inputs.additional_mvn_directives }}
        env:
          cmd_type: ${{ env.SET_CMD_TYPE }}
          unit_test_reporter: "java-junit"
          unit_test_fail_on_error: "true"
          unit_test_report_path: "**/target/surefire-reports/*.xml"
          int_test_reporter: "java-junit"
          int_test_fail_on_error: "true"
          int_test_report_path: "**/target/failsafe-reports/TEST*.xml"

      - name: Sonarqube scan
        id: Sonarqube
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          sonar_utility: sonar-scanner
          sonar_commands: '("-Dsonar.projectKey=${{env.SONAR_PROJECT_KEY}} -Dsonar.host.url=${{env.SONAR_HOST_URL}} -Dsonar.token=${{env.SONAR_LOGIN}} -Dsonar.pullrequest.key=${{github.event.number}} -Dsonar.pullrequest.branch=${{github.event.pull_request.head.ref}} -Dsonar.pullrequest.base=${{github.event.pull_request.base.ref}}")'

      - name: FrogBot scan
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          JF_URL: https://${{ vars.ARTIFACTORY_HOST }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_GIT_TOKEN: ${{ secrets.HV_ACTIONS_GIT_TOKEN }}
          GIT_REPO_OWNER: ${{ github.repository_owner }}
          GIT_REPO_NAME: ${{ github.event.repository.name }}
          JF_PATH_EXCLUSIONS: "*.git*;*node_modules*;*target*;*venv*;*test*;*resources-filtered*"
          PULL_REQUEST_NUMBER: ${{github.event.number}}

      - name: Report notifications
        if: always()
        uses: lumada-common-services/gh-composite-actions@stable
        env:
          Slack_Token: ${{ secrets.SLACK_TOKEN }}
          Slack_Channel: ${{ env.SLACK_CHANNEL }}
          teams_Webhook_Url: ${{ secrets[inputs.ms_teams_webhook_secret_name] }}
          steps_json: ${{ toJson(steps) }}
          report: true
